@import "../../stylesheets/variables";

.product-card {
  background-color: white;
  width: 20rem;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  &__media {
    position: relative;
    width: 100%;
    height: 140px;
    transition: all 0.2s ease-in-out;
    vertical-align: top;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__hover-elements {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(71, 54, 51, 0.65);
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__supporting-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font: $mobile-body;
  }

  &__headline {
    padding: 0.5rem 1rem;
    font: $mobile-body-medium;
  }

  &__headline,
  &__price {
    color: #725752;
  }

  &__price,
  &__stock--mobile {
    margin: 0;
  }

  &__stock {
    font: $mobile-body-medium;
    color: white;

    &--mobile {
      font: $mobile-body-medium;
      color: #473633;
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 425px) {
  .product-card {
    &__media {
      height: 18rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .product-card {
    &__media {
      height: 20rem;
    }

    &__details {
      font: $desktop-body;
    }

    &__stock {
      font: $desktop-body-medium;
    }
  }
}
