// fonts
$desktop-heading: 900 3.5rem "Cabinet Grotesk";
$desktop-subheading: 800 2.4rem "Cabinet Grotesk";
$desktop-body-light: 300 1.8rem "Satoshi";
$desktop-body: 400 1.8rem "Satoshi";
$desktop-body-medium: 500 1.8rem "Satoshi";
$desktop-body-bold: 600 1.8rem "Satoshi";

$mobile-heading: 900 2.1rem "Cabinet Grotesk";
$mobile-subheading: 800 1.8rem "Cabinet Grotesk";
$mobile-body-light: 300 1.6rem "Satoshi";
$mobile-body: 400 1.6rem "Satoshi";
$mobile-body-medium: 500 1.6rem "Satoshi";
$mobile-body-bold: 600 1.6rem "Satoshi";

// colors
// $primary-color:
// $secondary-color:
$background-color: #fef6c9;
$heading-color: #473633;
